body{
    margin: 0;
    padding: 0;
}

.container{
 display: flex;
}

.head{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head h1{
    z-index: 1;
}
.head p {
    z-index: 1;
    background-color: rgb(27, 26, 26);
    padding: 10px;
    transition: 0.1s ease-in-out;
}
.head p:hover{
   background-color: #474545;
   cursor: pointer; 
}
.nav{
    position: relative;
    justify-content: flex-start;
    display: flex;
    min-width: 100%;
    padding-left: 20px;
    gap: 10px;

}
.nav::before{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.53;
    background: #000;
}
.nav p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 2px;
    transition: 0.3s ease-in-out;
}
.nav p:hover{
    background-color: #474545;
    padding-left: 10px;
    padding-right: 10px;

}
.head::before{

    background-image: url(mountain-place-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.30;
}